@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="space"></div>
<h1 class="album-title"> До / После</h1>
<div id="before_after_box">
    <div id="ba_box">
        <div id="before"></div>
        <div id="after"></div>
        <div id="ba_cursor"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var mouse_down = false;
        $('#ba_box').mousemove(function (event) {
            var leftpos = event.pageX - $("#ba_box").offset().left;
            var rightpos = 700 - leftpos;
            if (mouse_down && leftpos >= 0 && leftpos <= 700) {                
                $('#before').css('width', leftpos);
                $('#after').css('width', rightpos);
                $('#ba_cursor').css('left', leftpos - 10);
            }
        });
        $("#ba_cursor").mousedown(function () { mouse_down = true; });
        $(document).mouseup(function () { mouse_down = false; });
    }
    )
</script>
