@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="contact-cover" style="background-image: url(@Url.Action("GetContactsCoverPhoto", "Home"))">
    <img src="@Url.Action("GetContactsAvatarPhoto", "Home")">
</div>

<div class="contacts">
    <div class="contacts-wrap">
        <div class="phone">
            <h2>Связь со мной</h2>
            <p>Связаться со мной, заказать фотосъемку и уточнить детали, Вы можете по телефону</p>
            <h1 class="h1-title">+38 (066) 377-78-16</h1>
            <div class="messengers">
                <p>WhatsUp/Viber/Telegram</p>

                <ul>
                    <li><i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fab fa-viber fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fab fa-telegram-plane fa-2x" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <br>

        <div class="social">
            <ul>
                <li><i class="fab fa-facebook-f" aria-hidden="true"></i></li>
                <li><a href="https://www.instagram.com/ilyasnigir/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><i class="fab fa-vk"></i></li>
            </ul>
        </div>
    </div>
</div>