@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="contacts-head">
    <div class="contacts-black"></div>
</div>

<div class="contacts">
    <div class="contacts-wrap">
        <div class="phone">
            <h1 class="h1-title">Связь со мной</h1>
            <p>Связаться со мной, заказать фотосъемку и уточнить детали, Вы можете по телефону</p>
            <h2>+38 (066) 377-78-16</h2>
            <div class="messengers">
                <p>WhatsUp/Viber/Telegram</p>

                <ul>
                    <li><i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fab fa-viber fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fab fa-telegram-plane fa-2x" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <br>

        <div class="social">
            <ul>
                <li><i class="fab fa-facebook-f" aria-hidden="true"></i></li>
                <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
</div>
<h1 class="h1-title">Наша команда</h1>
<div id="member1">
    <div class="white-shadow">
        <img src="IMG_8334.JPG">
        <div class="mem_info">
            <h1>Илья Снигирь</h1>
            <p>Фотограф</p>
        </div>
    </div>
</div>
<div id="member2">
    <div class="white-shadow">
        <img src="настя2.jpg">
        <div class="mem_info">
            <h1>Анастасия Фатеева</h1>
            <p>Фотограф, Друг, Наставник</p>
        </div>
    </div>
</div>
<div id="member3">
    <div class="white-shadow">
        <img src="HjVBax58BRM1.jpg">
        <div class="mem_info">
            <h1>Нина Назарова</h1>
            <p>Веб-разработчик</p>
        </div>
    </div>
</div>