
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div id="services-block">
    <div class="services">
        <h1> Мои услуги</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Sed sagittis velit a gravida fermentum. Nam metus risus, pharetra sed ligula ac, mattis laoreet arcu.</p>
        <div class="services_wrap">
            <div class="serv_item wow fadeInDown" data-wow-duration="1.5s" data-wow-offset="200">
                <i class="fas fa-camera-retro"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="serv_item wow fadeInDown" data-wow-duration="1.5s" data-wow-offset="200" data-wow-delay="0.7s">
                <i class="fas fa-camera-retro"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="serv_item wow fadeInDown" data-wow-duration="1.5s" data-wow-offset="200" data-wow-delay="1.4s">
                <i class="fas fa-camera-retro"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="serv_item wow fadeInDown" data-wow-duration="1.5s" data-wow-offset="200" data-wow-delay="2.1s">
                <i class="fas fa-camera-retro"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>

<h1 class="album-title"> Порядок работы со мной</h1>
<div class="timeline">
    <div class="point right">
        <div class="point-space"></div>
        <div class="point-content">
            <h1>Lorem ipsum</h1>
            <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. </article>
            <i class="fas fa-coffee"></i>
        </div>
    </div>
    <div class="point left">
        <div class="point-content">
            <h1>Lorem ipsum</h1>
            <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. </article>
            <i class="fas fa-tasks"></i>
        </div>
        <div class="point-space"></div>
    </div>
    <div class="point right">
        <div class="point-space"></div>
        <div class="point-content">
            <h1>Lorem ipsum</h1>
            <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. </article>
            <i class="fas fa-camera-retro"></i>
        </div>
    </div>
    <div class="point left">
        <div class="point-content">
            <h1>Lorem ipsum</h1>
            <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. </article>
            <i class="far fa-images"></i>
        </div>
        <div class="point-space"></div>
    </div>
</div>
<h1 class="album-title">Приемущества работы со мной</h1>
<div class="advantages">
    <div class="adv_list">
        <div class="adv_item_wrap">
            <div class="adv_item">
                <i class="far fa-gem"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. Nam metus risus, pharetra sed ligula ac, mattis laoreet arcu.</p>
            </div>
            <div class="adv_item">
                <i class="far fa-gem"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. Nam metus risus, pharetra sed ligula ac, mattis laoreet arcu.</p>
            </div>
        </div>
        <div class="adv_item_wrap">
            <div class="adv_item">
                <i class="far fa-gem"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. Nam metus risus, pharetra sed ligula ac, mattis laoreet arcu.</p>
            </div>
            <div class="adv_item">
                <i class="far fa-gem"></i>
                <p class="serv_title">Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis velit a gravida fermentum. Nam metus risus, pharetra sed ligula ac, mattis laoreet arcu.</p>
            </div>
        </div>
    </div>
    <!--div class="adv_image">
        <img src="http://www.ceilicornelison.com/wp-content/uploads/2015/03/behnt.jpeg">
    </div-->
</div>
<h1 class="album-title"> Цены</h1>
<div id="prices">
    <ul class="price-column">
        <li class="pack-name">Пакет "Минимальный"</li>
        <li class="price">800 грн</li>
        <li>съемка 1 час</li>
        <li>15 фото в авторской обработке</li>
        <li>выдача материала в электронном варианте</li>
        <li>подготовленные копии фото для публикации в интернете</li>
    </ul>
    <ul class="price-column">
        <li class="pack-name">Пакет "Оптимальный"</li>
        <li class="price">1100 грн</li>
        <li>2 часа съемки</li>
        <li>25 фото в авторской обработке</li>
        <li>выдача фото в электронном варианте</li>
        <li>подготовленные копии фото для публикации в интернете</li>
    </ul>
    <ul class="price-column">
        <li class="pack-name">Пакет "Максимальный"</li>
        <li class="price">1500 грн</li>
        <li>3 часа съемки</li>
        <li>40 фото в авторской обработке</li>
        <li>выдача фото на флешке</li>
        <li>подготовленные фото для публикации в интернете</li>
    </ul>
</div>

