@model IEnumerable<IlyaSnigirPhotographer.Models.Photo>


    @foreach (var item in Model)
    {
        if (item.PhotoFile != null)
        {
            <div class="album-item">               
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.PhotoFile) + "\" />")
            </div>
        }
    }
