
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    var page = 0;
    var _inCallback = false;

    function loadProducts() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').html('<p><img src="/Content/Animations/loading.gif"></p>');
            $.get("/Photo/Index?id=" + page + "&albumId=@ViewBag.AlbumId", function (data) {
                if (data.length > 10) {
                    $("#photoList").append(data);
                }
                else {
                    page = -10;
                }
                
                _inCallback = false;
                $('div#loading').empty();
            });
        }
    }

    var dcList = true;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadProducts();
        }
    });
 
</script>


<div class="space"></div>
<div class="album-title anim">
    <p>@ViewBag.AlbTitle</p>
</div>

<div id="photoList" class="album">
    @Html.Partial("_Photos")
</div>

<div id="loading"></div> 

<div class="lightbox">    
    <div class="slide_wrapper">
        <div class="prev-l">
            <p>&#10094;</p>
        </div>
        <div class="slide_lightbox_wrap">
            <div class="close">&times;</div>
            <img class="slide_lightbox" src="">
        </div>
        <div class="next-l">
            <p>&#10095;</p>
        </div>
    </div>
</div>

<div class="btn-up">
    <i class="fas fa-arrow-circle-up"></i>
</div>

<script>
    var allImages;
    var currIndex;
    $(document).ready(function () {
        $(document).on("click", ".album > .album-item > img", function () {
            allImages = document.querySelectorAll(".album .album-item img"); 
            cur_img = $(this).attr('src');

            for (var i = 0; i < allImages.length; ++i) {
                if (allImages[i].getAttribute('src') == cur_img)
                    currIndex = i;
            };
            $(".lightbox").css("display", "block");
            $("img.slide_lightbox").attr('src', cur_img);

            $(".next-l").on("click", function () {
                if (currIndex !== (allImages.length - 1)) {
                    ++currIndex;
                    $("img.slide_lightbox").attr('src', allImages[currIndex].getAttribute('src'));                    
                }
            });

            $(".prev-l").on("click", function () {
                if (currIndex !== 0) {
                    --currIndex;
                    $("img.slide_lightbox").attr('src', allImages[currIndex].getAttribute('src'));
                }
            });
        });

      
        $(".close").on("click", function () {
            $(".lightbox").css("display", "none");
        });
    });

    window.sr = ScrollReveal();
    sr.reveal('.anim');

</script>