
@{
    ViewBag.Title = "PhotosNotFound";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="space"></div>
<div class="album-title anim">
    <p>@ViewBag.AlbTitle</p>
</div>
<h3>В этом альбоме пока нет фотографий :(</h3>

